[firmware_retraction]
retract_length: 0.45
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 20
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[gcode_macro FW_Retract_PLA]
gcode:
    SET_RETRACTION [RETRACT_LENGTH=0.40] [RETRACT_SPEED=20] [UNRETRACT_EXTRA_LENGTH=0] [UNRETRACT_SPEED=10]
[gcode_macro FW_Retract_PETG]
gcode:
    SET_RETRACTION [RETRACT_LENGTH=0.47] [RETRACT_SPEED=20] [UNRETRACT_EXTRA_LENGTH=0] [UNRETRACT_SPEED=10]
