# Main Printer Config Files (Steppers, Size, shape, speeds, pinouts, pid tunes)
[include printer_specs.cfg]
# Core start and stop macros. change slicer settings to match whats in the header comments!
[include macros_start_stop.cfg]
# include localized bed meshing from frix-x https://github.com/Frix-x/klipper-voron-V2/blob/main/doc/features/adaptive_bed_mesh.md
[include adaptive_bed_mesh.cfg]
[exclude_object]
# bed mesh debugging uses respond
[respond]
# Most other macros like resume print, park head, change filament ect ect. lots of great examples to follow in here. 
[include macros.cfg]
#FW retraction settings. tune these instead of software retraction. different filament profiles are inside the config.  EVEN if you use software retraction it is safe to leave this on. 
[include printer_fw_retraction.cfg]

# if an axl accelerometer is attached uncomment below
[include printer_input_shaper.cfg]
#if BL touch is attached uncomment below it will enable the bl touch and enable bed mesh calibration.
[include printer_bl_touch.cfg]

# anything entered below will override all other settings (if loaded already above).
[mcu]
serial: /dev/serial/by-path/pci-0000:00:1d.0-usb-0:1.1.3:1.0-port0#by-id/usb-1a86_USB_Serial-if00-port0#/dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[virtual_sdcard]
path: ~/gcode_files
on_error_gcode:
  CANCEL_PRINT
[pause_resume]

[display_status]

[gcode_arcs]
resolution: 0.05


 


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.225000, -0.160000, -0.150000, -0.242500, -0.420000
#*# 	  -0.175000, -0.062500, -0.087500, -0.140000, -0.312500
#*# 	  -0.137500, -0.047500, -0.017500, -0.102500, -0.240000
#*# 	  -0.100000, -0.017500, -0.015000, -0.020000, -0.180000
#*# 	  -0.177500, -0.055000, -0.035000, -0.065000, -0.170000
#*# tension = 0.2
#*# min_x = 53.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 30.0
#*# x_count = 5
#*# max_y = 240.0
#*# mesh_x_pps = 2
#*# max_x = 270.0
